.review_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 5px;
  margin-bottom: 0;

  &_name {
    grid-column: 1/4;
  }

  &_date {
    grid-column: 4/-1;
  }

  &_company {
    text-align: left;
    grid-column: 1/-1;
  }

  &_position {
    text-align: left;
    grid-column: 1/-1;
    margin-bottom: 0;
  }

  &_content {
    text-align: justify;
    grid-column: 1/-1;
    font-size: 12px;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: linear-gradient(90deg, #AA0254 0%, #F5720D 100%);
    }
  }
}